<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monash.flora_backend.dao.mapper.DictionaryLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.monash.flora_backend.dao.entity.DictionaryLog">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="query_text" property="queryText" />
        <result column="translated_text" property="translatedText" />
        <result column="query_time" property="queryTime" />
        <result column="response_time" property="responseTime" />
        <result column="course_id" property="courseId" />

    </resultMap>
</mapper>
