<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monash.flora_backend.dao.mapper.MdlFeedbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.monash.flora_backend.dao.entity.MdlFeedback">
        <id column="id" property="id" />
        <result column="course" property="course" />
        <result column="name" property="name" />
        <result column="intro" property="intro" />
        <result column="introformat" property="introformat" />
        <result column="anonymous" property="anonymous" />
        <result column="email_notification" property="emailNotification" />
        <result column="multiple_submit" property="multipleSubmit" />
        <result column="autonumbering" property="autonumbering" />
        <result column="site_after_submit" property="siteAfterSubmit" />
        <result column="page_after_submit" property="pageAfterSubmit" />
        <result column="page_after_submitformat" property="pageAfterSubmitformat" />
        <result column="publish_stats" property="publishStats" />
        <result column="timeopen" property="timeopen" />
        <result column="timeclose" property="timeclose" />
        <result column="timemodified" property="timemodified" />
        <result column="completionsubmit" property="completionsubmit" />
    </resultMap>
</mapper>
