<!--start_PLUGINS_GENERICO_TEMPLATE_BODY-->

<script src="/flora/js/jquery.min.js"></script>
<link href="/flora/css/bootstrap.min.css" rel="stylesheet"/>
<script src="/flora/js/bootstrap.bundle.min.js"></script>
<!--    <script src="/flora/js/jquery-ui.min.js" id="myJqueryUI" ></script>-->
<script src="/flora/js/quill.min.js"></script>
<script src="/flora/js/flipdown.min.js"></script>
<script>
    var currentRange = null;
    var whetherDoHighlight = false;
    var saveHighlight = null;
    var saveHighlightText = '';


    var totalMinutes = 45;
    var unlimitedTime = false; //如果使用unlimited time 则让timer 变成增长，不再是count down
    var hintMinutesBeforeEnd = 5; // 提示学生，当任务快结束时候

    //修改预定义的reading strategy 和writing strategy
    defaultStep3ReadingStrategy = ["一页页地阅读材料", "快速浏览，然后细读", "选择性阅读，跳过不相关内容"];
    defaultStep3WritingStrategy = ["先给作文结构打草稿，再填充细节", "查看说明和打分标准以使写作符合要求", "复制粘贴关键句，然后流畅地改写"];


    let eventWebsocket = null;
    let teacherChatWebsocket = null;

    var apiBaseUrl = "http://localhost:8080";
    var websocketApiBaseUrl = "ws://localhost:8080";
    var mainEditor = null;
    var editors = {}; //多个不同的侧边栏editor


    // 是否展示工具
    var useAnnotationTool = true;
    var useScaffoldTool = false;  // if set to true, must use group      cn, ge, pl
    var useGPTScaffoldTool = false;

    var srlModel = "copes";    // copes
    var gptScaffoldRole = "assistant";
    // var gptScaffoldRoleDescription = "You are a helpful assistant, please give suggestions based on the given text.";
    var gptScaffoldPromptIncludeEssay = false;

    var gptScaffoldPromptTemplate = `以下是任务介绍
嘿！你即将投入到一个很酷的项目中，这个项目是关于(1)人工智能(AI)和(2)它如何改变医疗的。你的任务是写一篇短文，分享你的想法。
🌟你需要做的是：
∙阅读：我们给你了一些关于人工智能和未来医疗的文章。
∙写作：根据你的阅读，用你自己的话写一篇短文。告诉我们你对于人工智能融入日常生活的思考以及它可能如何改变医疗。
🌟请注意：
∙保持原创性：确保你的作文完全出自你手。不要抄袭！
∙注意时间：时间有限，所以要合理地规划你的时间！
🌟为你准备的工具：你可以使用我们为你提供的工具，如计划工具、高亮工具和写作工具来帮助自己写作。
🌟都由你创作：请记住，这项任务是由你独立完成的。不要向朋友或老师求助。

以下是打分标准
作文我们将根据两条针对整体的打分标准和三个作文构成要素对你的作文进行打分。
🌟两条对整体的打分标准是：
∙作文字数要求在200到300字之间。
∙作文用词清晰，并且是用你自己的话写成，这意味着作文中的任何部分都不能从文本或其他来源中复制。
🌟三个作文构成要素是：
∙讨论人工智能概念。
∙讨论人工智能技术当下在你日常生活和医疗中的当前应用。
∙讨论人工智能技术未来在你日常生活和医疗中的前景。
 🌟 以下是详细的打分标准。
以下是详细的打分标准。
1. 讨论人工智能概念：
未提及（0）：未提供人工智能的定义。
足够（1）：给出了人工智能的基本定义，没有进一步解释。
好（2）：用学生自己的话解释了人工智能，但缺乏深度或例子。
优秀（3）：用学生自己的话全面地定义和解释了人工智能，包括新颖的信息和个人深刻见解以及例子。

2. 讨论人工智能技术在你日常生活和医学中的当前应用：
未提及（0）：未提及人工智能的当前医疗应用。
足够（1）：提到了人工智能在医疗中的当前应用，但缺乏细节。
好（2）：详细描述了人工智能在医疗中的当前应用，但缺乏例子或深刻见解。
优秀（3）：详细描述了人工智能在医疗中的当前应用，提供了例子或个人深刻见解。

3. 讨论人工智能技术未来在你日常生活和医疗中的整合：
未提及（0）：未提及人工智能在医疗中的潜在未来应用。
足够（1）：提到了人工智能在医疗中的可能的未来应用，但缺乏细节。
好（2）：详细讨论了人工智能在医疗中的潜在未来应用，但缺乏创新或深入分析。
优秀（3）：详细讨论了人工智能在医疗中的潜在未来应用，提供了创新的想法或深入分析。


以下是任务的阅读材料：
人工智能：

1.什么是人工智能？
人工智能（AI）是指计算机执行那些通常需要人类智慧才能完成的任务的能力。解决复杂问题、识别物体、做出预测，与环境互动等，都是人工智能应用的例子。比如，机器人可以和孩子交谈以帮助孩子提高沟通能力并促进他们的学习，智能机器人还可以协助医生治疗病人 。此外，智能机器人还可为患有抑郁症的人提供聊天服务，来帮助他们进行心理治疗

2.人工智能是如何工作的？
人工智能（AI）的系统可以通过分析数据和预测未来事件来模拟人类智能。通常，人工智能由两部分组成：算法和数据。每个算法包含一组系统求解时需要执行的步骤。当你烤蛋糕时，可以把算法想象成食谱。数据则是制作蛋糕的配料。通过分析更多的数据，算法可以做出更好的推荐。就像当你有更多种类的配料时，你可以做出更精致的蛋糕。人工智能和其它技术的一个关键区别是，包含人工智能的系统可以从数据中学习。例如，在健康领域分析的数据越多，医生得到的建议就越有效。

3.实践中的人工智能
在新冠肺炎大流行期间，研究人员开发了一种人工智能工具，用于预测哪些患者可能患上新冠肺炎及其症状的严重程度。他们对53名患者进行了测试，收集了他们详细的健康信息。人工智能没有使用发烧或年龄等常见症状和信息来预测，而是成功地利用了肝酶、肌肉疼痛程度和血液血红蛋白水平等独特因素，在预测呼吸困难方面达到了80%的准确率。这显示了人工智能在医疗实践中的强大潜力。

4.人工智能和常规编程的区别
当你构建一个检测体温的程序时，它只是读取温度计并给出一个数字，这就是常规编程。但人工智能不同。想象一下你正在尝试创建一个程序，它可以分析皮肤的图片并判断是否有皮疹。你没有明确地告诉程序每种皮疹看起来是什么样子，而是向它展示了数千张皮肤的图片—其中一些有皮疹，另一些没有。人工智能通过研究这些照片并发现其中的模式或差异来学习。对于人类来说，检查所有这些照片会很困难，但人工智能可以快速做到。经过训练后，人工智能可以自行检查新的皮肤照片。但如果它不能继续看到新图片，它就不会继续学习。

5.人的角色仍然至关重要。
尽管人工智能在医院和医疗保健中用得越来越多，但出于许多原因，医生的角色仍然很重要。首先，医生需要始终对人工智能系统给出的结果进行审查，以确保没有潜在错误。其次，一些医疗病例是独一无二的，或者很少发生，人工智能还无法学习它们。因此，这些特殊病例需要专家医生根据他们以前的经验做出正确的诊断。另外，医生比人工智能系统更能理解患者的感受。

6.人工智能比人类更聪明吗？
人工智能和人类智能之间有一些差异。例如，人工智能系统可以非常快速地分析和学习患者的相关数据，这对于医生来说需要很长时间。然而，医生可以以更灵活的方式思考。，他们通常能比人工智能系统更好地检测出患者的病情。

7. 人工智能当前的局限性以及未来前景
虽然人工智能为我们的日常生活提供了便利，但它的使用也有一些局限和可能性。例如，医院使用的人工智能系统可以根据已识别的数据解决问题，但这些数据有时不足以用于诊断疾病。此外，人工智能系统无法像人类那样意识到自己的错误，这有时可能是危险的。另一方面，人工智能系统可以帮助医生完成日常任务，节省他们和患者等待治疗的时间。例如，人工智能系统可以读取患者的扫描图片并从中发现疾病迹象。

医药与未来：

1.科技改变医疗
在全球范围内，由于人工智能的诸多优势，许多国家正基于人工智能更新其医疗体系。首先，人工智能可以通过最大程度地减少患者到医院就诊次数，降低医疗成本和患者的旅行成本。其次，人工智能系统可以帮助人们监测自己的健康状况，并预测他们可能患上的疾病，甚至是长期的疾病。最后，许多医疗服务提供者可以使用虚拟机器人在患者在家时提供服务。

2.人工智能与疾病检测
美国一所大学的研究人员开发了一个人工智能系统，以帮助识别患心脏病高风险患者。他们认识到，由于对自身健康问题缺乏足够的了解，许多心脏病患者面临着危险。为了解决这个问题，他们使用人工智能分析了数百名心脏病患者的数据。他们收集了数百张心脏图像。他们还创建了另一个人工智能系统，该系统分析了10年的数据，并考虑了年龄和体重等因素。这两个人工智能系统在预测心脏健康风险方面都非常准确。这表明人工智能可以在帮助医生预防心脏相关并发症方面发挥重要的作用。

医生通常需要一些时间来研究X光图像。但来自两个美国研究小组的研究人员开发了一款人工智能工具，该工具可以在短短10秒内查看X光图像结果，非常快捷！他们用该人工智能为患有肺部疾病的人制作了更清晰的图像。他们使用了18.8万张胸部图像训练人工智能，以判断某人是否有肺部疾病。这种通过人工智能快速、清晰地检查X光的方式还可能有助于医生研究其他疾病。

3.人工智能与心理健康
以前，更多的人患有心理健康问题。梅奥诊所的研究人员开发了一个人工智能工具，可以猜测抗治疗抑郁症的药物效果如何。他们在患有抑郁症的儿童和成人身上进行了测试，观察了6个抑郁点，以及他们在10到12周内的改善情况。人工智能的正确率为76%。这表明人工智能可以帮助治疗心理健康问题。

4.患者的视角
美国一所大学的研究人员发现，由于隐私原因，许多患者不信任人工智能系统来获得建议。例如，人工智能医生（机器人）有时可能会问患者太多让她或他感到不舒服的问题。此外，一些患者可能会觉得人工智能系统离现实太远了。

5.医生的视角
研究人员解释说，医生在将人工智能应用于他们的工作之前，应该知道它们是如何“思考”的，以避免任何风险。此外，研究人员还认为，由于缺乏技术技能，许多医生不知道如何使用这些智能系统。

6.医疗中的人工智能准确性
人工智能在医疗保健领域越来越流行，但它并不总是完美的。一些研究人员想看看人工智能是否可以通过查看来自世界各地5个不同地方的胸部照片来识别肺部问题。他们用15.8万张图片进行了测试！但是，人工智能在其中3个国家表现不佳。这表明，尽管人工智能可以提供帮助，但重要的是要对其进行大量测试并谨慎使用，尤其是在医疗保健领域。

在另一项研究中，两所大型大学的研究人员发现，将人工智能用于医学图像还不完善。他们对人工智能程序进行了一些图像测试，发现了一些错误。因此，他们警告医生要小心使用人工智能制作的图片。然而，人工智能可以快速生成清晰的医学图像。这意味着患者使用核磁共振设备的时间更少，这更安全、更有效率。但要使人工智能在医学领域发挥作用，它需要准确且稳定。在医院使用人工智能程序之前，程序员应该仔细检查它们。请记住，人工智能看过的数据越多，它就能得到越好的结果。

7.医疗领域的人工智能与数据安全
许多在线人工智能系统可能会被黑客入侵。研究人员发现，黑客可以篡改医学图像，这可能会导致医生给患者错误的建议。为了阻止这种情况，研究人员开发了一个人工智能工具，可以判断医学图像是否被篡改。他们还开发了另一个人工智能工具，可以解释这些更改是如何发生的。研究人员发现，许多医学图像被篡改了。这意味着研究人员和工程师需要确保医院中使用的人工智能系统不会受到黑客的攻击。

8.有了人工智能，未来的医院会是什么样子
在未来的医院中，人工智能系统可能在病人护理中发挥巨大作用。当患者首次入院时，人工智能可以帮助医生快速了解患者的症状并推荐治疗方法。随着病人的康复，系统可能会调整建议，更多地依靠医生的判断。比如，如果人工智能系统建议使用某种药物，但医生根据自己的经验认为另一种药物更合适，人工智能系统就会根据医生的选择进行更新并学习。随着时间的推移，人工智能系统会更多地了解医生的方法，使医生和人工智能的合作更加顺畅。因此，人工智能系统可以适应医生的专业知识，确保为患者提供最佳护理。


;;;ADAPTIVE_PROMPT;;;


;;;SRL_PROCESS_PROMPT;;;

对于这个反馈，请遵循有效的反馈框架。它以学习者为中心，应包括三个主要组成部分：

1. 基于上面列出的学习条件，利用学生表现的优点和缺点来指导教学。
2. 通过提供具有可操作的信息的评论来关注后续影响，以帮助学生实现任务的学习成果。这应来自上面列出的建议。
3. 支持学生对他们的学习有自主掌控感，关注他们的社交、情感和动机需求，并鼓励他们对评价性评论持开放态度。

最后，反馈【一定】不能超过100个字。`;

    var gptScaffoldBackgroundFileNameList = [];
    var gptScaffoldParameters = [300, 1, 2]; //  response max token, n, temperature/10


    var testISDIMUCourseId = 78;
    var pretestNameCourseId = 78;
    // var hasTakePreviousStudyTestNameCourseId = 2;

    var preTestName = "活动2：知识测验（必做）"; // todo 改名字
    var testISDIMUName = "活动3：学习技巧问卷（必做）"; // todo 改名字
    // var hasTakePreviousStudyTestName = "个人信息（任务前做）（必做）"; // todo 改名字


    var pretestGradesPrompt = [{"threshold": 0, "prompt": "该学生在人工智能和医疗领域人工智能方面有很高知识水平。"},
        {"threshold": 5, "prompt": "该学生在人工智能和医疗领域人工智能方面有较低知识水平。"},
        {"threshold": 10, "prompt": "该学生在人工智能和医疗领域人工智能方面有中等知识水平。"}];
    var isdimuScorePrompt = [{"threshold": 0, "prompt": "该学生对可用于促进学习的各种策略或技巧有较高的理解水平。"},
        {"threshold": 16, "prompt": "该学生对可用于促进学习的各种策略或技巧有较低的理解水平。"},
        {"threshold": 32, "prompt": "这个学生看起来对可用于促进学习的各种策略或技巧有一些了解。"}];
    var classifySentenceBackgroundFileNameList = ["cella_monash_main_task2_medicine.docx"]; // cella_monash_main_task2_medicine.docx, TODO 使其可以支持docx 和pdf
    var gptScaffoldNeedCheckSRLProcessPrompt = [
        {
            triggerMinute: 14,
            beginMinute: 7,
            endMinute: 14,
            rules: []
        },
        {
            triggerMinute: 21,
            beginMinute: 14,
            endMinute: 21,
            rules: []
        },
        {
            triggerMinute: 28,
            beginMinute: 21,
            endMinute: 28,
            rules: []
        }
    ];


    var useWriteEssayTool = true;
    var useWriteEssayWordCountButton = false;
    var useCollaborativeWriteEssayTool = false;
    var useCollaborativeWriteEssayWordCountButton = false;
    var includeChatgptToCollaborativeWriteEssay = false;
    var usePlannerTool = true;
    var useChatgptTool = false;
    var useChatgptRating = false; // chatgpt rating visible or not
    var useChatgptAssistantTool = false;
    var useChatgptAssistantRating = false; // chatgpt assistant rating visible or not

    var useDoctorScaffold = false;
    var useConsultationSubmitTool = false;
    // =========use type for different patient, scaffold and assessment================
    var medicalConsultAssistanceType = "jisan";

    var patientRoleDescription="";
    var scaffoldRoleDescription="";
    var assessmentRoleDescription="";


    var chatgptBackgroundFileNameList = ["cella_monash_background.pdf"]; // add pdf file names here
    // var chatgptRoleDescription = "You are a helpful assistant and please answers questions based on the provided text."; //这个会和question 一起发送给GPT
    var chatgptRole = "assistant";
    var chatgptPromptIncludeEssay = true;
    var includeSurveyToChatgptPrompt = []; // [1, 2, 3]
    var chatgptParameters = [1000, 1, 2]; //  response max token, n, temperature/10

    var useChecklistTool = false;
    var useChecklistToolGrammar = false;
    var useChecklistToolAcademic = false;
    var useChecklistToolOriginality = false;
    var useChecklistToolClassification = false;
    var useDictionaryTool = false;
    var dictionarySourceLanguage = "zh-cn";
    var dictionaryTargetLanguage = "en";
    var useTeacherChat = false;
    var useTimerTool = true;
    var useVideoRecordingTool = false;

    var toolsLanguage = "zh";

    const toolList1 = [];

    var studyName = "flora_demo"; //change to "uniSA" if needed

    function loadScript(url) {
        let currentDate = new Date();

        // Get the year, month, and day from the date object
        let year = currentDate.getFullYear();
        let month = currentDate.getMonth() + 1; // Month is 0-indexed
        let day = currentDate.getDate();

        // Pad the month and day with leading zeros if they are less than 10
        month = month < 10 ? '0' + month : month;
        day = day < 10 ? '0' + day : day;

        // Concatenate the year, month, and day to form the desired format
        let formattedDate = year.toString() + month.toString() + day.toString();

        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = url + "?v=" + formattedDate;
        script.defer = true;
        script.async = false;
        document.head.appendChild(script);
    }
    function getURLParameters(url) {
        var params = {};
        var parser = document.createElement('a');
        parser.href = url;
        var query = parser.search.substring(1);
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split('=');
            params[pair[0]] = decodeURIComponent(pair[1]);
        }
        return params; // string 类型
    }
    let navTagAList = document.querySelectorAll("#page-navbar>nav>ol>li a");
    let currentCourseId = 0;
    if (navTagAList != null) {
        navTagAList.forEach(link => {
            if (link.href.includes("course/view.php?id=")) {
                currentCourseId = getURLParameters(link.href).id;
            }
            link.addEventListener('click', function(e) {
                e.preventDefault();
            });
        });
    }
</script>

<script>
    loadScript("/flora/js/text.js");
    loadScript("/flora/js/i18n_function.js");
    loadScript("/flora/js/generateToolsHtml.js");
    loadScript("/flora/js/tools_00common.js");

    if(useAnnotationTool) loadScript("/flora/js/tools_01annotation.js");
    if(useScaffoldTool) loadScript("/flora/js/tools_02scaffolding.js");
    if(useWriteEssayTool) loadScript("/flora/js/tools_03essay_writing.js");
    if(usePlannerTool) loadScript("/flora/js/tools_04planner.js");
    if(useChatgptTool) loadScript("/flora/js/tools_05chatgpt.js");
    if(useChatgptAssistantTool) loadScript("/flora/js/tools_05_1chatgpt_assistant.js");
    if(useChecklistTool) loadScript("/flora/js/tools_06checklist.js");
    if(useVideoRecordingTool) {
        loadScript("/flora/js/MediaStreamRecorder.js");
        loadScript("/flora/js/tools_09record_video.js");
    }
    if(useConsultationSubmitTool){
        loadScript("/flora/js/tools_13consultation_submit.js");
    }
    // if(useTimerTool) 不确定timer是否需要按需加载
    loadScript("/flora/js/tools_08timer.js");
    if(useDictionaryTool) loadScript("/flora/js/tools_10dictionary.js");
    if(useTeacherChat) loadScript("/flora/js/tools_11teacherchat.js");
    if (useCollaborativeWriteEssayTool) loadScript("/flora/js/tools_12collaboratewrite.js");
    if(useGPTScaffoldTool) loadScript("/flora/js/tools_07gpt_scaffolding.js");
    loadScript("/flora/js/setupInstrumentationTools.js");

</script>

<!--end_PLUGINS_GENERICO_TEMPLATE_BODY-->