<!-- planner tool -->
<!--    <div class="container">-->
<!--        <div class="row bg-secondary mt-2">-->
<!--            &lt;!&ndash; 黑色菱形 &ndash;&gt;-->
<!--            <div style="position: relative; display: table; width: 100%; table-layout: fixed; border-spacing: 0px; margin-top: 15px;">-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->


<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="drop-destination-div" style="position: relative; display: table; width: 100%; table-layout: fixed; border-spacing: 0px; margin-bottom: 15px; z-index:100;">-->
<!--                <div class="dropzone-column drop-destination" data-starttimer="0"></div>-->
<!--                <div class="dropzone-column drop-destination" data-starttimer="1"></div>-->
<!--                <div class="dropzone-column drop-destination" data-starttimer="2"></div>-->
<!--                <div class="dropzone-column drop-destination" data-starttimer="3"></div>-->
<!--                <div class="dropzone-column drop-destination" data-starttimer="4"></div>-->

<!--                <div class="dropzone-column drop-destination" data-starttimer="5"></div>-->
<!--                <div class="dropzone-column drop-destination" data-starttimer="6"></div>-->
<!--                <div class="dropzone-column drop-destination" data-starttimer="7"></div>-->
<!--                <div class="dropzone-column drop-destination" data-starttimer="8"></div>-->
<!--                <div class="dropzone-column drop-destination" data-starttimer="9"></div>-->

<!--                <div class="dropzone-column" data-starttimer="10"></div>-->
<!--&lt;!&ndash;                <table>&ndash;&gt;-->
<!--&lt;!&ndash;                    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="dropzone-column drop-destination" style="width:9%;"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="dropzone-column drop-destination" style="width:9%;"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="dropzone-column drop-destination" style="width:9%;"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="dropzone-column drop-destination" style="width:9%;"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="dropzone-column drop-destination" style="width:9%;"></td>&ndash;&gt;-->

<!--&lt;!&ndash;                        <td class="dropzone-column drop-destination" style="width:9%;"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="dropzone-column drop-destination" style="width:9%;"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="dropzone-column drop-destination" style="width:9%;"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="dropzone-column drop-destination" style="width:9%;"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="dropzone-column drop-destination"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        &ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="dropzone-column drop-destination"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                </table>&ndash;&gt;-->
<!--            </div>-->

<!--            &lt;!&ndash; 黑色菱形 &ndash;&gt;-->
<!--            <div style="position: relative; display: table; width: 100%; table-layout: fixed; border-spacing: 0px;">-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->


<!--                <div class="timecolumn">-->
<!--                    <div class="tick bottom-right"></div>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; 时间数字 &ndash;&gt;-->
<!--            <div style="position: relative; display: table; width: 100%; table-layout: fixed; border-spacing: 0px;">-->
<!--                <div class="timecolumn" style="border-style:none;">0</div>-->
<!--                <div class="timecolumn" style="border-style:none;"></div>-->
<!--                <div class="timecolumn" style="border-style:none;"></div>-->
<!--                <div class="timecolumn" style="border-style:none;"></div>-->
<!--                <div class="timecolumn" style="border-style:none;"></div>-->

<!--                <div class="timecolumn" style="border-style:none;">5</div>-->
<!--                <div class="timecolumn" style="border-style:none;"></div>-->
<!--                <div class="timecolumn" style="border-style:none;"></div>-->
<!--                <div class="timecolumn" style="border-style:none;"></div>-->
<!--                <div class="timecolumn" style="border-style:none;"></div>-->

<!--                <div class="timecolumn" style="border-style:none;">10</div>-->
<!--            </div>-->
<!--&lt;!&ndash;            <div class="demo"></div>&ndash;&gt;-->
<!--            <div class="drop-source-div" style="position: relative; display: table; width: 100%; table-layout: fixed; border-spacing: 0px; margin-top: 30px; z-index:100;">-->
<!--&lt;!&ndash;                <table>&ndash;&gt;-->
<!--&lt;!&ndash;                    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="dropzone-column drop-source" style="width:16%;"><div class="my-resize " data-duration="6">First</div></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="dropzone-column drop-source" style="width:16%;"><div class="my-resize " data-duration="6">First2</div></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="dropzone-column drop-source" style="width:16%;"><div class="my-resize " data-duration="6">First3</div></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="dropzone-column drop-source" style="width:16%;"><div class="my-resize " data-duration="6">First4</div></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td class="dropzone-column drop-source" style="width:16%;"><div class="my-resize " data-duration="6">First5</div></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td style="width:2%;"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                </table>&ndash;&gt;-->
<!--                <div class="dropzone-column drop-source">-->
<!--                    <div class="my-resize bg-info" data-duration="6">First</div>-->
<!--                </div>-->
<!--                <div class="dropzone-column drop-source">-->
<!--                    <div class="my-resize bg-info" data-duration="6">Second</div>-->
<!--                </div>-->
<!--                <div class="dropzone-column drop-source">-->
<!--                    <div class="my-resize bg-info" data-duration="6">Third</div>-->
<!--                </div>-->
<!--                <div class="dropzone-column drop-source">-->
<!--                    <div class="my-resize bg-info" data-duration="6">Fourth</div>-->
<!--                </div>-->
<!--                <div class="dropzone-column drop-source">-->
<!--                    <div class="my-resize bg-info" data-duration="6">Fifth</div>-->
<!--                </div>-->
<!--                <div class="dropzone-column" style="width: 2%">-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->



<!--  clock tool  -->
<!--    <div>-->
<!--        <div class="clock" style="margin:2em;"></div>-->
<!--        <div class="clock-message"></div>-->
<!--    </div>-->