<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">-->
<!--    <link rel="stylesheet" href="../css/flipclock.css">-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--<div class="clock" style="margin:2em;"></div>-->
<!--<div class="clock-message"></div>-->
<!--</div>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"-->
<!--        crossOrigin="anonymous"></script>-->
<!--<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>-->
<!--<script src="../js/flipclock.js"></script>-->
<!--<script>-->
<!--    function setupTimer() {-->
<!--        var clock;-->

<!--        clock = $('.clock').FlipClock({-->
<!--            clockFace: 'MinuteCounter', //MinuteCounter   HourCounter-->
<!--            autoStart: false,-->
<!--            // countdown: true,-->
<!--            callbacks: {-->
<!--                stop: function() {-->
<!--                    $('.clock-message').html('Time is up!')-->
<!--                }-->
<!--            }-->
<!--        });-->

<!--        clock.setTime(2*60 + 59);-->
<!--        clock.setCountdown(true);-->
<!--        clock.start();-->
<!--    }-->

<!--    $(document).ready(function () {-->
<!--        setupTimer();-->
<!--    });-->
<!--</script>-->
<!--</body>-->
<!--</html>-->