<!--start_PLUGINS_GENERICO_TEMPLATE_BODY-->

<script src="/flora/js/jquery.min.js"></script>
<link href="/flora/css/bootstrap.min.css" rel="stylesheet"/>
<script src="/flora/js/bootstrap.bundle.min.js"></script>
<!--    <script src="/flora/js/jquery-ui.min.js" id="myJqueryUI" ></script>-->
<script src="/flora/js/quill.min.js"></script>
<script src="/flora/js/flipdown.min.js"></script>
<script>
    var currentRange = null;
    var whetherDoHighlight = false;
    var saveHighlight = null;
    var saveHighlightText = '';


    var totalMinutes = 45;
    var unlimitedTime = false; //如果使用unlimited time 则让timer 变成增长，不再是count down
    var hintMinutesBeforeEnd = 5; // 提示学生，当任务快结束时候

    //修改预定义的reading strategy 和writing strategy
    var plannerAllStrategy = [
        {
            "plannerOverallStrategy": "Lea primero y luego escriba",
            "plannerStrategyInstruction": "¿Cuánto tiempo tiene estimado para leer y para escribir respectivamente?",
            "plannerStep2Task": [
                { "title": "Lea el primero módulo", "time": 5 },
                { "title": "Lea el segundo módulo", "time": 5 },
                { "title": "Escriba el ensayo", "time": 5 },
            ],
        },
        {
            "plannerOverallStrategy": "Lea y escriba de forma simultánea",
            "plannerStrategyInstruction": "¿Cuánto tiempo tiene estimado demorarse en cada tema?",
            "plannerStep2Task": [
                { "title": "Lea/Escriba sobre el primer módulo", "time": 10 },
                { "title": "Lea/Escriba sobre el segundo módulo", "time": 10 },
            ],
        },
        {
            "plannerOverallStrategy": "Escriba intensívamente, lea de forma selectiva",
            "plannerStrategyInstruction": "¿Cuánto tiempo tiene estimado demorarse en diferentes etapas de su escritura?",
            "plannerStep2Task": [
                { "title": "Escriba el primer borrador", "time": 5 },
                { "title": "Lea la información adicional relacionada con el ensayo", "time": 5 },
                { "title": "Revise, refine y mejore el ensayo", "time": 5 },
            ],
        },
    ]


    var defaultStep3ReadingStrategy = ["Lea el material página por página", "Navegue rápidamente y luego lea detalladamente", "Lea selectivamente y salte la información irrelevante"];
    var defaultStep3WritingStrategy = ["Primero defina una estuctura borrador para su ensayo y luego completelo con detalles", "Revise las instrucciones y la rúbrica para realizar su ejercicio de escritura", "Copie y pegue las oraciones claves y luego re escribalas de formal fluida"];


    let eventWebsocket = null;
    let teacherChatWebsocket = null;

    var apiBaseUrl = "http://localhost:8080";
    var websocketApiBaseUrl = "ws://localhost:8080";
    var mainEditor = null;
    var editors = {}; //多个不同的侧边栏editor


    // 是否展示工具
    var useAnnotationTool = true;
    var useScaffoldTool = false;  // if set to true, must use group      cn, ge, pl
    var useGPTScaffoldTool = false;

    var srlModel = "copes";    // copes
    var gptScaffoldRole = "assistant";
    // var gptScaffoldRoleDescription = "You are a helpful assistant, please give suggestions based on the given text.";
    var gptScaffoldPromptIncludeEssay = false;

    var gptScaffoldPromptTemplate = `A student is working on an essay writing task.

These are task instructions:
Hey there! You're about to dive into a cool project about (1) artificial intelligence (AI) and (2) how it's changing education. Your mission is to write a short essay sharing your thoughts.

Here's what you need to do:

Read Up: We've given you some articles to read about AI and the future of education.
Write Down: Based on your reading, write a short essay in your own words. Tell us how you think AI fits into everyday life and how it might change education industry.

Keep in Mind:

Be Original: Make sure your essay is all from you. No copying!
Watch the Clock: The time is limited, so plan your time wisely!

Tools for You: You can use the tools we've given you, like the planner, highlighter, and the essay tool to assist you.

This Is All You: Remember, this task is for you to do on your own. No asking for help from friends or teachers.

This is the rubric:

There are two global criteria and three components on which the essay will be graded.

The two global criteria are:
1.    The essay consists of 200 to 300 words.
2.    The essay is written clearly and in your own words, meaning that no part in the essay can be copied from the text or from other sources.

The three components are:
1. Discussion of the concept of AI

2. Discussion of the current use of AI-based technologies in your daily life and in education

3. Discussion of the future integration of AI-based technologies in your daily life and in education

This is the detailed marking rubric.
1. Discussion of the concept of AI:
No mention (0): No definition of AI is provided.
Sufficient (1): The basic definition of AI is given without further explanation.
Good (2): AI is defined and explained in the student's own words but lacks depth or examples.
Excellent (3): AI is thoroughly defined and explained in the student's own words, including novel information and personal insights with examples.

2. Discussion of the current use of AI-based technologies in your daily life and in education:
No mention (0): No mention of AI's current applications in education.
Sufficient (1): Mentions AI's current applications in education but lacks detail.
Good (2): Describes AI's current applications in education in detail but lacks examples or insights.
Excellent (3): Describes AI's current applications in education in detail, providing examples or personal insights.

3. Discussion of the future integration of AI-based technologies in your daily life and in education:
No mention (0): No mention of AI's potential future applications in education.
Sufficient (1): Mentions possible future applications of AI in education but lacks detail.
Good (2): Discusses potential future applications of AI in education in detail but lacks innovation or deep analysis.
Excellent (3): Describes AI's future applications in education in detail, providing examples or personal insights.


This is the reading material:
1.1 What is artificial intelligence
Artificial intelligence (AI) is the ability of computers to perform tasks where humans will use their intelligence. You can consider solving problems, identifying objects, making predictions, and interacting with your environment. For example, you can find AI in voice assistants on a smartphone or self-driving cars and use it to find the shortest path between two locations while avoiding roadworks in an App.  Another example is to apply AI to robots that compile and sort out orders in large warehouse. Here, we will explain how AI works and list a few of its features.
1.2 How does AI work?
Artificial Intelligence always consists of two components: an algorithm and data. In an algorithm a sequence of instructions is programmed that leads to a certain action or result. You can consider an algorithm like a recipe when you are baking a cake. Data is the ingredient that makes the cake. By analyzing more data, the algorithm can make better recommendations. Just like when you have more variety of ingredients, you can make a fancier cake. A key difference between AI and other technologies is that the AI-incorporated systems can learn from the data.
1.2.1 AI in practice
The function of AI may sound very abstract. However, the recommendations in a video stream service such as Netflix are based on an algorithm. Based on what you have watched, Netflix predicts what interests you and suggests more movies. In order to be able to make these recommendations, data is needed. In this case, data includes what you or others have watched. Another example could be creating chess program that can beat a human. You could prepare a program (not AI) in advance, which includes every possible strategy, decision, and rule. However, this program would be limited to what the programmers had told the system about effective strategies. So, how could AI help in creating this kind of chess program?
1.2.2 Difference between AI and regular programming
When you create an AI chess program, you do not include all the steps in advance. Rather, you make an algorithm that can learn from the data. You ‘feed’ the AI system with millions of chess games that people have played. The algorithm analyzes every scenario and identifies strategies, rules, and decisions. For humans, it would be difficult to remember so many games, but it is achievable for an AI program. After the algorithm has been trained, it can play chess against humans in the form of an AI program. If the data (more chess games) is not refreshed, the algorithm will not continue to learn.
1.2.3 The role of the human remains crucial
The fact that the algorithm can learn on its own does not mean that everything will happen automatically. How good it performs is as good or bad as how the algorithm is programmed by humans and the data used to train it.  The algorithm makes decisions based on what it has learned before you can eventually use it as a program.  Since humans could be (un)intentionally biased when programming the algorithm, AI systems can have bias too. It is also possible that the dataset used in the algorithm is incomplete or incorrect. For example, voice assistants are better in recognizing male voices than female voices, since they were trained with more male voices.
1.3 Are machines smarter than humans?
Some fear that machines using AI are smarter than us and will take over the world. Most scientists and AI experts don’t think this will be the case. For example, how the AI works is not the same as how the human brain works.  AI does not have to mimic the human brain to be effective, just like an airplane does not have to flap its wings to fly like a bird. AI can store, process, and analyze many times more information than a human brain. However, computers cannot replicate everything that a human can do at this stage.
1.4 The current limits and possibilities of the AI
Usually, an AI system is good in one thing such as predicting what you want to watch next. However, this particular system usually cannot predict other things, such as what you want to study in the future. Also, AI systems cannot live outside of human control yet and is bounded by what the programmer has developed. An AI system that can mimic a complete human being, otherwise known as artificial general intelligence, still has a long way to go. There is not one specific form of AI. AI can have different approaches, each with its own strengths. Here, we will discuss two different forms.
2.1 Technology changing education
When schools had to close, and face-to-face education was replaced by other forms of educational delivery, teachers and schools turned to distance education through several types of digital technologies. Even though remote teaching may mean that teachers give classes like face-to-face settings and allow students to solve problems as usual, new digital technologies can also support new ways of teaching that focus on learners as active participants. Artificial intelligence, virtual reality, and augmented reality are examples of digitalization that are reshaping the world. These digital technologies change not only what we learn but also how we learn.
2.2 Virtual Reality
In virtual reality environments, you can work and interact in a completely computer-generated world. In immersive environments, virtual reality replaces your perception of the real world with that of the virtual one. For example, you can wear virtual reality glasses and be present in the historical places and events you have read in your history books. Virtual reality also enables learning to be flexible in terms of spaces where learning processes take place. For example, it is already possible that you learn a foreign language with the native speakers of that language. You can also ask questions from an AI agent in the VR world.
2.3 Augmented reality
Pokemon GO is a well-known example of augmented reality technology. As the name ‘augmented reality’ implies, this technology merges the real and digital worlds. When you conduct lab experiments in a physics classroom, the technology can augment for example the instructions of how to use different equipment in the form of text or video. Augmented reality can also guide you through the challenging phases of the laboratory work process, by giving you feedback on your technique use. However, one of the most promising tools for the school of the future is AI systems that adapt to the needs of a student or teacher and thus personalize the learning process.
2.4 Different perspectives towards adaptive technologies and personalized learning
In this chapter, we focus on learners and teachers' perspectives on digital technologies and personalized learning.
2.4.1 Learner's perspective
There is a long history of AI-enhanced tutoring systems that guide learning and suggest problems that match the learner’s ability or knowledge level. These kinds of technologies are based on the idea that each student in a classroom can solve different problems and work at their own pace. GraphoGame (Ekapeli in Finnish) is an example that aims to improve children’s literacy skills. When you start practising reading with the GraphoGame, you start with easy units of speech, then you move to challenging syllables and finally work on complicated words. The game adapts to your skill level so that you can solve tasks that are neither too easy nor too challenging.
Adaptive learning technologies have been mostly used when learning is done individually. But teamwork skills are just as important. AI can also be used to support working in groups. Instead of dividing the sub-tasks among group members and solving those individually (for example, each pupil looks up a piece of information that is then glued together at the end), AI technologies can assist students in setting goals and making plans to achieve the goals together. This kind of working together is a characteristic of collaborative learning in which the learning goals and plans are jointly developed, and the knowledge is jointly constructed.
2.4.2 Teacher's perspective
AI can support learners, but it may also benefit teachers. When there are tens of students in the classroom, it would be useful for an AI system to recognize who, or which group needs help and the kind of help needed. Teachers can then make better use of their time and support those pupils who need help the most. They can also tailor their guidance based on the pupils’ skills and the challenges that they are facing. If we wanted to develop AI systems to support learning and teaching, we would need an algorithm and data.
2.5 Learning needs are changing
It requires new kinds of skills to interpret the information and recommendations provided by an AI system for learning. Consider smart watches as an example: the recommendations can be made based on the measurement of accelerometer and blood flow scanner. If the algorithm interprets that you had a bad sleep, it may prompt you to rest. However, if you feel energetic, would you listen to your body or the advice provided by the AI algorithm?
2.5.1 AI literacy
Everyone needs to know about AI in order to understand the information provided by AI systems. AI literacy is a set of skills that allow someone to (1) think critically about AI technology, (2) communicate and work with AI technology, and (3) use AI technology. This means that AI cannot take the place of teachers or students. Instead, you should find out when and how a certain AI can help you learn.
2.5.2 How does your school of the future look like?
At its best, you could get more guidance for your learning from the AI system at the start of the learning process or when you encounter challenges. The guidance from the system decreases when you progress well, and when you have the skills and knowledge to achieve the learning goal with your own effort. For example, the system may only give you feedback that your division calculations are incorrect. However, you know that you have mastered that topic well. Consequently, you may focus on the topic more and be more careful when solving the math tasks.


;;;ADAPTIVE_PROMPT;;;


;;;SRL_PROCESS_PROMPT;;;
For this feedback, please follow the effective feedback framework. It is learner-centred and it should include three main components:

1. Based on the learning conditions listed above, using both strengths and weaknesses of the student’s performance to inform the instruction.
2. Focus on the subsequent impact by providing comments with actionable information to help the student achieve the learning outcomes for the task. This should come from the advice listed above.
3. Support the student to feel in control of their learning, attend to their social, emotional and motivational needs, and encourage them to be open to evaluative comments.

Lastly, the feedback MUST not exceed 100 words.`;

    var gptScaffoldBackgroundFileNameList = [];
    var gptScaffoldParameters = [300, 1, 2]; //  response max token, n, temperature/10


    var testISDIMUCourseId = 3;
    var hasTakePreviousStudyTestNameCourseId = 3;
    var pretestNameCourseId = 3;


    var pretestGradesPrompt = [{"threshold": 0, "prompt": "This student has a high level of knowledge about AI in medicine."},
        {"threshold": 5, "prompt": "This student has a low level of knowledge about AI in medicine."},
        {"threshold": 10, "prompt": "This student has a medium level of knowledge about AI in medicine."}];
    var isdimuScorePrompt = [{"threshold": 0, "prompt": "This student seems to have good understanding of various strategies or techniques that can be applied to facilitate learning."},
        {"threshold": 16, "prompt": "This student seems to have a low level of understanding of various strategies or techniques that can be applied to facilitate learning."},
        {"threshold": 32, "prompt": "This student seems to have some understanding of various strategies or techniques that can be applied to facilitate learning."}];
    var classifySentenceBackgroundFileNameList = ["cella_monash_main_task1_education.docx"]; // cella_monash_main_task2_medicine.docx, TODO 使其可以支持docx 和pdf
    var gptScaffoldNeedCheckSRLProcessPrompt = [
        {
            triggerMinute: 14,
            beginMinute: 7,
            endMinute: 14,
            rules: []
        },
        {
            triggerMinute: 21,
            beginMinute: 14,
            endMinute: 21,
            rules: []
        },
        {
            triggerMinute: 28,
            beginMinute: 21,
            endMinute: 28,
            rules: []
        }
    ];


    var useWriteEssayTool = true;
    var useWriteEssayWordCountButton = false;
    var useCollaborativeWriteEssayTool = false;
    var useCollaborativeWriteEssayWordCountButton = false;
    var includeChatgptToCollaborativeWriteEssay = false;
    var usePlannerTool = true;
    var useChatgptTool = false;
    var useChatgptRating = false; // chatgpt rating visible or not
    var useChatgptAssistantTool = false;
    var useChatgptAssistantRating = false; // chatgpt assistant rating visible or not

    var useDoctorScaffold = false;
    var useConsultationSubmitTool = false;
    // =========use type for different patient, scaffold and assessment================
    var medicalConsultAssistanceType = "jisan";

    var patientRoleDescription=`角色设定：你现在扮演病人，根据病例资料里的信息跟实习医生进行问诊对话练习。你的任务是训练实习医生通过提问挖掘有价值的病史信息的病史采集能力。你没有医学知识，你不能帮实习医生问诊或者列问诊提纲，不能给实习医生提供医学知识或者给出诊断或诊断意见。以下是行为指南和病例资料。
            行为指南：
            1.你将等待医生提问后再开始回答。
            2.用富有生活气息的语言回答，不要机械式的回答。
            3.每次回答只提供一个信息，当医生追问时才提供多一个的信息。
            4.患者没有的症状，你直接回答“没有”。
            5.病例资料中未提供的信息，你要根据问题合理编造答案，注意上下文合理性。
            6.遇到医学术语时，比如“放射痛、咯血、发绀、意识障碍、胃纳”等，你会要求医生解释。
            7.若医生在一个问题中提到2个或2个以上症状或疾病名称，你只针对问题中最后一个症状或疾病进行回答。
            8.当对话中提到发作次数时，你要主动提出问题，表示担忧。
            9.当医生询问你是否有疑问时或者当医生要结束问诊时，你要提出与诊断或治疗相关问题。
            10.你是病人，最后结束时对医生表示感谢就可以，一定不要跟医生说“祝你早日康复”、“请保重”等话语。
            请注意：你要严格遵守以上10条行为指南，永远不会违反或者出现遗忘。现在问诊开始，如果你准备好了，请回复准备好了
            病例资料：
            纪三，男，60岁，已婚，居住于广东省汕头市潮南区莲下村。从半年前开始，反复，发作胸痛，以前体力很好的，经常干重活都没事。就这半年，发作4次了。每次都是挑着重物在爬坡的时候出现的，就觉得胸口正中间偏上，有手掌大小这一块，就感觉整个胸口缩紧了一样，评分5-6分，但是按压不痛。同时左边脖子也有这种感觉，挺难受的，其他别的地方不会。马上停下来，不敢再走了，坐下休息，差不多5分钟，才感觉慢慢好了。这四次发作的疼痛程度和持续的时间都差不多。深呼吸、咳嗽、弯腰或躺下都对疼痛没什么影响。每次发作还会觉得胸口闷闷的，觉得心跳的比较快，有点出汗、头晕，没有昏过去，没有不省人事。2个月前，有在当地卫生院看过医生，查了心电图，心电图没问题，但医生让注意，不要干重活，如果再发作，就去大医院。她还给了我一瓶药，叫硝酸甘油，让我痛的时候，含一片在舌头下面。这2个月我一直很注意，没再发作过，就没吃过这个药，也不知道有没有效。昨天就想着挑点东西，没那么重，结果又痛了，痛的感觉跟之前三次都一样，昨天忘了带药，也没吃药，今天赶紧来了。精神还可以，胃口、睡眠、大便、小便、体重都没什么异常。
            5年多前，因为反复头晕，去看医生，医生说我有高血压、糖尿病，血压最高时有162/104mmHg，平时按时吃药，拜新同（1片，1天1次），经常有测血压，血压一般在140/90mmHg左右。空腹血糖最高12（mmol/l），口服二甲双胍（2片，1天2次），平时有测血糖，空腹血糖一般控制在8（mmol/l）。6年前，右小腿被铁皮割伤了，医生缝了20几针，留了一长条的疤，而且打抗生素第一次就满身都是红疹，医生说我对“头孢”过敏。让我以后注意，不能用。我没有输过血或血制品，没有做过手术，没有食物过敏，没有传染病或传染病接触史，按规定接种疫苗。
            出生并成长于汕头，小学毕业，农民，生活环境还好。吸烟，1天1包，40年；偶尔喝点白酒，每次大概3两左右，30年左右。没有得过性病。
            23岁结婚，妻子58岁，有1个儿子，33岁，2个女儿，分别是31岁和30岁，身体都很健康，夫妻关系很好，没怎么吵过架
            父亲前年去世的，80岁，母亲去年也去世了，78岁，父母生前身体都挺好的，去世时都没什么疾病，自然去世。一个哥哥65岁，一个妹妹58岁，兄妹两人身体也都很健康。家里没人有跟我一样会胸痛的。家族里没人有高血压、糖尿病、冠心病，也没人有精神病史。`;
    var scaffoldRoleDescription="";
    var assessmentRoleDescription="";


    var chatgptBackgroundFileNameList = ["cella_monash_main_task1_education.pdf"]; // add pdf file names here
    // var chatgptRoleDescription = "You are a helpful assistant and please answers questions based on the provided text."; //这个会和question 一起发送给GPT
    var chatgptRole = "assistant";
    var chatgptPromptIncludeEssay = true;
    var includeSurveyToChatgptPrompt = []; // [1, 2, 3]
    var chatgptParameters = [1000, 1, 2]; //  response max token, n, temperature/10

    var useChecklistTool = false;
    var useChecklistToolGrammar = true;
    var useChecklistToolAcademic = true;
    var useChecklistToolOriginality = true;
    var useChecklistToolClassification = true;
    var useDictionaryTool = false;
    var dictionarySourceLanguage = "zh-cn";
    var dictionaryTargetLanguage = "en";
    var useTeacherChat = false;
    var useTimerTool = true;
    var useVideoRecordingTool = false;

    var toolsLanguage = "es";

    const toolList1 = [];

    var studyName = "flora_demo_education"; //change to "uniSA" if needed

    function loadScript(url) {
        let currentDate = new Date();

        // Get the year, month, and day from the date object
        let year = currentDate.getFullYear();
        let month = currentDate.getMonth() + 1; // Month is 0-indexed
        let day = currentDate.getDate();

        // Pad the month and day with leading zeros if they are less than 10
        month = month < 10 ? '0' + month : month;
        day = day < 10 ? '0' + day : day;

        // Concatenate the year, month, and day to form the desired format
        let formattedDate = year.toString() + month.toString() + day.toString();

        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = url + "?v=" + formattedDate;
        script.defer = true;
        script.async = false;
        document.head.appendChild(script);
    }
    function getURLParameters(url) {
        var params = {};
        var parser = document.createElement('a');
        parser.href = url;
        var query = parser.search.substring(1);
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split('=');
            params[pair[0]] = decodeURIComponent(pair[1]);
        }
        return params; // string 类型
    }
    let navTagAList = document.querySelectorAll("#page-navbar>nav>ol>li a");
    let currentCourseId = 0;
    if (navTagAList != null) {
        navTagAList.forEach(link => {
            if (link.href.includes("course/view.php?id=")) {
                currentCourseId = getURLParameters(link.href).id;
            }
            link.addEventListener('click', function(e) {
                e.preventDefault();
            });
        });
    }
</script>

<script>
    loadScript("/flora/js/text.js");
    loadScript("/flora/js/i18n_function.js");
    loadScript("/flora/js/generateToolsHtml.js");
    loadScript("/flora/js/tools_00common.js");

    if(useAnnotationTool) loadScript("/flora/js/tools_01annotation.js");
    if(useScaffoldTool) loadScript("/flora/js/tools_02scaffolding.js");
    if(useWriteEssayTool) loadScript("/flora/js/tools_03essay_writing.js");
    if(usePlannerTool) loadScript("/flora/js/tools_04planner.js");
    if(useChatgptTool) loadScript("/flora/js/tools_05chatgpt.js");
    if(useChatgptAssistantTool) loadScript("/flora/js/tools_05_1chatgpt_assistant.js");
    if(useChecklistTool) loadScript("/flora/js/tools_06checklist.js");
    if(useVideoRecordingTool) {
        loadScript("/flora/js/MediaStreamRecorder.js");
        loadScript("/flora/js/tools_09record_video.js");
    }
    if(useConsultationSubmitTool){
        loadScript("/flora/js/tools_13consultation_submit.js");
    }
    // if(useTimerTool) 不确定timer是否需要按需加载
    loadScript("/flora/js/tools_08timer.js");
    if(useDictionaryTool) loadScript("/flora/js/tools_10dictionary.js");
    if(useTeacherChat) loadScript("/flora/js/tools_11teacherchat.js");
    if (useCollaborativeWriteEssayTool) loadScript("/flora/js/tools_12collaboratewrite.js");
    if(useGPTScaffoldTool) loadScript("/flora/js/tools_07gpt_scaffolding.js");
    loadScript("/flora/js/setupInstrumentationTools.js");

</script>

<!--end_PLUGINS_GENERICO_TEMPLATE_BODY-->